spring:
  application:
      name: SERVICE-USUARIOS
  datasource:
    url: jdbc:postgresql://localhost:5432/bd-usuarios
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update #create-drop
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
server:
  port: 8088

